---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
---

<Layout title="Margin Research">
	<main class="h-screen w-screen overflow-hidden">
		<section class="w-full bg-black/70 text-white text-xs lg:text-md h-10 flex justify-center items-center">
		<button type="button" class="text-xs uppercase bg-blue-500/80 rounded-md px-4 py-1 mx-4 text-white">
		blog
		</button>
		<span class="font-light">
			Part 3: You can't spell WebRTC without RCE
		</span>
		</section>
	<section class="flex w-full mt-14 lg:mt-0 lg:items-center justify-center lg:h-4/6">
	<div class="flex flex-col w-full px-2 lg:px-0 lg:w-[520px] text-center gap-8">
		<div class="flex flex-col gap-4 lg:gap-0">
			<h3>
				Moving research into products
			</h3>
			<p class="text-3xl lg:text-5xl lg:leading-snug">
				Margin Research is a boutique cyber security firm located in NYC.
			</p>
			<p class="my-4 text-lg leading-loose">
				We specialize in software program analysis, reverse engineering, vulnerability research, and offensive threat intelligence.
			</p>
		</div>
		<div class="w-full flex flex-row items-center justify-center gap-8">
		<button class="bg-black/80 text-white py-2 px-6 rounded-md hover:bg-black/100 transition-color" type="button">
			Get in touch
		</button>
		<a href="/blog">
		<div class="flex flex-row items-center text-md lg:text-lg gap-3 lg:gap-6">
			<span class="hover:underline">
				Latest from the blog 
			</span>
			<span>
			<img src="arrow.png" class="w-4 lg:w-6" />
			</span>
		</div>
		</a>
	</div>
	</section>
	<section class="headings mb-10 lg:mb-0 lg:absolute w-[3600px] opacity-80 bottom-10 text-6xl">
	<ul class="flex flex-row gap-20 w-">
	<li>
		Applied Research and Development
	</li>
	<li>
		Program Analysis
	</li>
	<li>
		Security Consulting
	</li>
	<li>
		Reverse Engineering
	</li>
	<li>
		Vulnerability Research
	</li>
	<li>
		Trainings
	</li>
	</section>
	</main>
</Layout>

<style>
main {
background-image: url("/marginbg1.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.headings {
	left: 0;
	animation: scroll 30s linear infinite;
}

 @keyframes scroll {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
</style>