---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
---

<Layout title="Margin Research">
	<main class="min-h-screen text-[#222831] w-screen bg-[#f9f9f9] overflow-hidden">
		
		<section class="my-5 w-[400px] gap-3 py-6 justify-self-center bg-white text-xs lg:text-md h-14 rounded-3xl border-[1px] border-[#ccc]/50 shadow-sm flex justify-center items-center">
			<span class="text-[#686767]">Blog:</span>
				<span class="font-semibold text-[#222831]">
					You can't spell WebRTC without RCE - Part 3
				</span>
			<span>
				<img class="w-3" src="arrowupright.png" />
			</span>
		</section>

	<section class="flex my-5 w-full mt-14 lg:mt-0 lg:items-center justify-center lg:h-1/2">
	<div class="flex flex-col w-full px-2 lg:px-0 lg:w-[600px] text-center gap-8">
		<div class="flex flex-col gap-3">
			<p class="">
				Moving research into products
			</p>
			<p class="text-3xl lg:text-5xl lg:leading-tight">
				Margin Research is a boutique cyber security firm located in NYC.
			</p>
			<p class="my-2  text-[#222831] font-light leading-loose">
				We specialize in software program analysis, reverse engineering, vulnerability research, and offensive threat intelligence.
			</p>
		</div>
	</div>
	</section>

	<section class="w-[1500px] flex justify-center overflow-hidden mb-20 flex flex-row items-center overflow-hidden">
	<img class="h-[450px] bg-gray-300 m-1 rounded-md block" src="landing3.jpg" />
	<img class="h-[450px] bg-gray-300 m-1 rounded-md block" src="landing2.jpg" />
	<img class="h-[450px] bg-gray-300 m-1 rounded-md block" src="landing4.jpg" />
	</section>
	</main>
</Layout>

<style>
main {
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.headings {
	left: 0;
	animation: scroll 30s linear infinite;
}

 @keyframes scroll {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
</style>